* {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
  }
  body.dark {
    background-color: #121212;
    color: #fff;
  }
  .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  h1, h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    margin-top: 1em;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #0056b3;
  }
  .consulta {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  body.dark .consulta {
    background-color: #1e1e1e;
    box-shadow: 0 2px 4px rgba(255,255,255,0.1);
  }
  .remover {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  .remover:hover {
    background-color: #c82333;
  }
  .toggle-mode {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }

  footer{
    text-align: center;
    align-items: center;
    color: rgb(90, 90, 90);
  }

  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  }
